/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

/*16px*/

:root {
  /* colors */
  --primary-100: #d1fae5;
  --primary-200: #a7f3d0;
  --primary-300: #6ee7b7;
  --primary-400: #34d399;
  --primary-500: #10b981;
  --primary-600: #059669;
  --primary-700: #047857;
  --primary-800: #065f46;
  --primary-900: #064e3b;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --view-width: 90vw;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem);
  /* Large heading */
}

h2 {
  font-size: clamp(1.5rem, 3vw, 3rem);
  /* Medium heading */
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 2.5rem);
  /* Small heading */
}

h4 {
  font-size: clamp(1rem, 2vw, 2rem);
  /* Extra small heading */
}

h5 {
  font-size: clamp(0.875rem, 1.5vw, 1.5rem);
  /* Tiny heading */
}

/* BIGGER FONTS */
/* h1 {
  font-size: clamp(3rem, 6vw, 6rem);
}

h2 {
  font-size: clamp(2.5rem, 5vw, 5rem);
}

h3 {
  font-size: clamp(2rem, 4vw, 4rem);
}

h4 {
  font-size: clamp(1.5rem, 3vw, 3rem);
}

h5 {
  font-size: clamp(1rem, 2vw, 2rem);
}
 */

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* 
============= 
PROJECT CSS
=============
*/

.colored-underline {
  background: var(--primary-500);
  width: 70%;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 1rem;
}

nav {
  margin: 0;
  padding: 0;
  background: whitesmoke;
  position: relative;
}

.nav-center {
  margin: 0 auto;
  width: 90vw;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
}

.logo {
  display: flex;
  align-items: center;
  font-size: larger;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.nav-toggle {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {

  transform: rotate(90deg);
}

.links-container {
  overflow: hidden;
  transition: var(--transition);
  position: absolute;
  top: 3.5rem;
  left: 0;
  z-index: 999;
  background: whitesmoke;
  width: 100vw;
  box-shadow: 0 4px 2px -2px gray;
}

.links a {
  color: var(--grey-700);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
  text-align: center;
}

.links a:hover {
  background: var(--primary-200);
  margin-left: 1rem;
}



@media screen and (min-width:800px) {
  .nav-toggle {
    display: none;
  }

  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .links-container {
    height: auto !important;
    position: unset;
    box-shadow: none;
    width: auto;
  }

  .links {
    display: flex;
    gap: 0.5rem;
  }

  .links a {
    display: inline;
    font-size: large;
  }

  .links a:hover {
    margin: 0;
  }
}



/* SLIDER */

.slider {
  margin: 0 auto;
  max-width: 100vw;
  position: relative;
}


.slick-dots li.slick-active button:before {
  color: white;
  opacity: 80%;
}

.slick-dots {
  top: 670px;
}

.slick-dots li button:before {
  font-size: 15px;
  line-height: 20px;
  color: white;
}

.slider-image {
  width: 100vw;
  object-fit: cover;
  object-position: center;
  height: 60vh;
}

.slider-title {
  position: absolute;
  top: 35rem;
  font-weight: bold;
  padding-left: 1rem;
  color: white;
  text-transform: capitalize;
}

.slider-title h4 {
  margin-top: 1rem;
}

@media screen and (max-width: 374px) {
  .slider-image {
    height: 60vh !important;
  }

  .slider-title h1 {
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 1px;
  }
}


/* OtherPlaces */
.otherplaces-positioning {
  margin: 3rem 1rem 0rem 1rem;
}

.otherplaces-positioning h1 {
  text-align: center;
}

.otherplaces-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100vw;
  margin: 4rem 0 2rem 0;
  flex-wrap: wrap;
}

.otherplaces-image img {
  width: 90vw;
  height: 20vh;
  border-radius: 1%;
}

.otherplaces-title {
  margin: 0.5rem 0 0.5rem 0;
}

@media screen and (min-width: 700px) {

  .otherplaces-image img {
    flex-direction: row;
    justify-content: flex-start;
    width: 40vw;
    height: 100%;
    border-radius: 1%;
    object-fit: fill;
  }

  .otherplaces-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .otherplaces-text {
    flex-direction: column;
    flex-wrap: wrap;
    width: 40vw;
  }

  .otherplaces-title {
    margin: 0;
    margin-bottom: 0.5rem;
  }
}

@media screen and (min-width:800px) {

  .otherplaces-container {
    margin-top: 4rem;
  }

  .otherplaces-text {
    display: flex;
    justify-content: center;

  }

  .otherplaces-text p {
    line-height: 20px;
  }
}

@media screen and (min-width:1100px) {
  .otherplaces-title {
    margin: 0;
    margin-bottom: 1.5rem;
  }

  .otherplaces-text p {
    line-height: 19px;
    font-size: large;
  }
}


@media screen and (min-width:1350px) {
  .otherplaces-text p {
    line-height: 26px;
    font-size: 23px;
  }

  .otherplaces-positioning h1 {
    font-size: 3.5rem;
  }
}

.otherplaces-container:last-child {
  margin-bottom: 5rem;
}

/* FOOTER */
.footer-center {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  box-shadow: 0 -5px 5px -5px #333;
  gap: 0.5rem;
  padding: 1rem;
}

.footer-center a {
  color: rgb(8, 123, 218);
}

.footer-center a:hover {
  color: rgb(18, 188, 226);
  transition: .2s ease-in-out;
  transform: scale(1.2);
}

/* TO TOP BUTTON */

.to-top-button {
  position: fixed;
  right: 0.7rem;
  bottom: 6rem;
  font-size: 2rem;
  background: transparent;
  border: none;

}

.to-top-button:hover {
  transition: 0.1s ease-in-out;
  transform: translateY(-0.2rem)
}

.more-places-title {
  margin-bottom: 1rem;
}

.more-places-cities {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.more-places-cities p {
  cursor: pointer;
  padding: 0.25rem 1rem;
  margin: 0.25rem 0;
  background: var(--primary-100);
  transition: var(--transition);
}

.more-places-cities p:hover {

  background: var(--primary-500);
  transform: scale(1.1);
}